.form {
    padding: 10px 10px;
    /*border-left: 1px solid #999;*/
    /*border-right: 1px solid #999;*/
    /*box-shadow: 0px 0px 20px #999;*/
}
.species-table {
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #999;
    border-radius: 3px;
}

/* row styles */
.species-table .row {
    height: 36px;
    clear: both;
}
.species-table .row.header {
    border-bottom: 1px solid #999;
}

/* table cell styles */
.species-table .row > * {
    display: inline-block;
    float: left;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    margin: 4px 0px 1px 1%;
}
.species-table .row.header span {
    margin: 2px 0 0 1%;
    padding: 3px 5px;
}
.species-table .row input {
    /*border: 1px solid #999;*/
    /*background: #eee;*/
    border-radius: 3px;
    vertical-align: middle;
    padding: 2px 7px;
    text-overflow: ellipsis;
}
.species-table .row input:focus {
    background: #fff;
}

/* column sizes */
.species-table .sequence {
    width: 39%;
}
.species-table .name {
    width: 24%;
}
.species-table .status {
    width: 24%;
}
.species-table .remove-species {
    width: 8%;
    max-width: 32px;
    margin-right: 1%;
    float: right;
}

/* table styles */
.species-table input.sequence {
    font-family: Consolas, monospace;
}
.species-table input.name {
    padding: 5px 7px;
    font-size: 0.8em;
    font-style: italic;
    color: #666;
}
.species-table .species-list .status {
    /*padding: 3px 5px;*/
    /*padding: 5px;*/
    padding: 0px 5px;
    /*border: 1px solid #999;*/
    border-radius: 3px;
    font-size: 0.8em;
}
.species-table .species-list .remove-species {
    display: none;
    line-height: 1;
}
.species-table .species-list.removable .remove-species {
    display: inline-block;
}

/* row state colors */
.species-table .row.ready {
    /*background: #dff2bf;*/
}
.species-table .row.ready .status {
    /*color: #a6ca8a;*/
}
.species-table .row.invalid {
    /*background: #ffbaba;*/
}
.species-table .row.duplicate {
    /*background: #feefb3;*/
}

/* column state colors */
.species-table .species-list .row.ready .status {
    background: #dff2bf;
    color: #4F8A10;
    border-color: #4f8a10;
    border: none;
}
.species-table .species-list .row.invalid .status {
    background: #ffbaba;
    color: #D8000C;
    border-color: #D8000C;
    border: none;
}
.species-table .species-list .row.duplicate .status {
    background: #feefb3;
    color: #9F6000;
    border-color: #9F6000;
    border: none;
}
.species-table .species-list .row:hover {
    background: #eee;
}
#add_species {
    margin: 4px 1% 6px;
}
